# dependencies
node_modules/

# next.js
.next/
out/

# env files (never commit)
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# prisma
prisma/dev.db

# local tmp
tmp_upload.bin
